<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="https://abn.churchofjesuschrist.org/study/scriptures/ot?lang=eng">Old Testament</a></td>
        <td><a href="https://abn.churchofjesuschrist.org/study/scriptures/nt?lang=eng">New Testament</a></td>
        <td><a href="https://abn.churchofjesuschrist.org/study/scriptures/bofm?lang=eng">Book of Mormon</a></td>
        <td><a href="https://abn.churchofjesuschrist.org/study/scriptures/pgp?lang=eng">Doctrine and Covenants</a></td>
        <td><a href="https://abn.churchofjesuschrist.org/study/scriptures/dc-testament?lang=eng">Peal of Great Price</a></td>
    </tr>
</table>
<hr>
